body{
  font-size:1em;
  font-family: monospace;
}

.node{
  font-weight: bold;
}

.subject{
  font-size:1.2em;
  font-weight: bold;
}

.date, .author, .hash{
  font-size: 0.756em;
}

.dev{
  color:#d1cece;
}

.h1{
  border-bottom:1px solid black;
}

.h2{
  letter-spacing: 6px;
}

.h3{
  background-color: #f8ff97;
}
.hidden{
  display: none;
}

.shown{
  display: block;
}


