body{
  font-size:1em;
  font-family: monospace;
}

.node{
  font-weight: bold;
}

.subject{
  font-size:1.2em;
  font-weight: bold;
  position: relative;
}

.date, .author, .hash{
  font-size: 0.756em;
  position: relative;
}

.dev{
  color:#d1cece;
}

.h1{
  border-bottom:1px solid black;
}

.h2{
  letter-spacing: 6px;
}

.h3{
  background-color: #f8ff97;
}

img {
  height: 75px;
  float: left;
  margin-left: 20px;
}
.th{
  height: 75px;;
}


.imgContent{
position: absolute;
top: 0px;
width: 400px;
z-index: 200;
}

.imgContent .th{
	max-width: 100px;
}

.h{
	position:absolute;
  display: none;
	bottom:10px;
	left:10px;
}

.shown{
  display: block;
}

.imgContent:hover .h{
	display: block;
	width:400px;
	height:auto;
}
